.loader{
	background-image: url("/web/static/src/img/throbber-large.gif");
	width:200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:20;
    overflow: auto;
}