.product_variant_selection_line th[data-id='product_variant_id'] { 
  width: 55%;
}

.sale-order-line-header-btn {
    margin-left: 4px; 
}

.web-link [data-id="web_link"]{width: 150px;
	max-width: 150px;}

.labelClass {
    color: red;
}

.bootstrap-datetimepicker-widget td.passedoutday { 
    background: #999999;
    border-radius: 0px;
    }

.bootstrap-datetimepicker-widget td.active.passedoutday { 
    border-radius: 0px !important;
    }

.o_menu_toggle:before {display:none}

@media (min-width: 1200px) {
  .o_form_view .o_form_sheet_bg .o_form_sheet {
    width: 99%;
  }

.o_list_view.table thead,
.o_list_view.table tfoot,
.o_list_view.table td,
.o_list_view.table th {
  border-right: 1px solid #ccc !important;
  /* border: none; */
}

.o_list_view.table th[data-id='purchase_price'] {
  text-align: center;
}

.o_list_view.table th[data-id='price_unit'] {
  text-align: center;
}

.o_list_view.table th[data-id='sale_price'] {
  text-align: center;
}

.o_list_view.table th[data-id='margin_in_percentage'] {
  text-align: center;
}

.o_list_view.table th[data-id='margin_in_percentage_string'] {
  text-align: center;
}

.o_list_view.table th[data-id='tax_id'] {
  text-align: center;
}

.o_list_view.table th[data-id='price_subtotal'] {
  text-align: center;
}

.o_list_view.table td[data-field='tax_id'] {
  text-align: center;
}

.o_list_view.table td[data-field='margin_in_percentage'] {
  text-align: center;
}

.o_list_view.table td[data-field='margin_in_percentage_string'] {
  text-align: center;
}

@media (min-width: 768px) {
  .o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div {
     width: 75% !important;
  }
}