.hidden_formview_drop {
  display: none;
  pointer-events: none;
}
.hidden_drop_formview_highlight {
  border: 4px dashed #CCC !important;
  overflow: hidden;
  background: rgb(232, 232, 232);
  min-height: 330px;
  padding: 16px;
  min-width: 650px;
  max-width: 860px;
  margin: 20px auto 0px auto;
  display: block;
  /*top: 20px;*/
  pointer-events: none;
  position: relative;
}
.hidden_formview_drop .msg_content {
  pointer-events: none;
  margin: 10px 0px 0px 240px;
  position: relative;
  font-size: xx-large;
  font-style: italic;
  color: rgb(190, 190, 190);
}
.adjust_sheet {
  opacity: .8;
  /*overflow: hidden;*/
  /*height: 300px;*/
}
