.purchase_font_family{
    font-family:Roboto Condensed;
}
.purchase_display_block{
    display: block;
}
.purchase_color{
    color: 2c79fd;
}
.purchase_report_header_netknacks {
    min-height:60px;
    height:50px;
    min-width:250;
    width:250;
    display:block;
}
.purchase_report_header_not_netknacks {
    min-height:50px;
    height:50px;
    min-width:250;
    width:250;
    display:block;
}
.purhcase_header_report_name{
    font-family:Roboto Condensed;
    font-size: 165%;
    display:inline-block;
}

.purhcase_header_report_name_2{
    font-family:Roboto Condensed;
    font-size: 165%;
    display:inline-block;
    color:#2c79fd;
}
.purchase_header_POC{
    font-weight: 900;
}
.purchase_header_account{
    font-weight: 900; 
    display:block;
}
.purchase_header_asi{
    padding-top:15px;
    font-weight: 900; 
    display:block;
}
.purchase_header_asi_value{
    display:block;
}

.purchase_footer_main{
    border-top: 1px solid black;
    font-family:Roboto Condensed;
}

.purchase_body_vendor_info{
    font-family:Roboto Condensed;
    height: 1px; 
    border-top:1px solid black; 
    border-spacing:2px;
}
.purchase_reorder{
    font-family:Roboto Condensed;
    background-color: #2c79fd;
    color:white;
    font-size: 120%;
}
.purchase_rush_supplier{
    font-family:Roboto Condensed;
    background-color: red;
    color:white;
    font-size: 120%;
}
.purchase_order_line_body{
    font-family:Roboto Condensed; 
    margin-top:1cm;
}

.purchase_page_break{
    page-break-inside: avoid;
}

.purchase_shipping_section{
    margin-bottom:20px;
    font-family:Roboto Condensed;
}
.purchase_shipping_name{
    color:#2c79fd;
    font-size: 200%;
    margin-right:25px;
}
.purchase_ship_method{
    display:block; 
    margin-top:30px;
}
.purchase_body_both_vendor_info{
    font-family:Roboto Condensed;
    height: 1px; 
    border-top:1px solid black;
    border-spacing:2px; 
    margin-bottom:1cm;
}

.purchase_decoration_section{
    font-family:Roboto Condensed;
    color:#2c79fd;
    font-size: 200%;
}

.purchase_art_image_section{
    font-family:Roboto Condensed;
    page-break-before:always;
}

.purchase_art_name{
    font-size: 200%;
    display:block;
    color:#2c79fd;
}
.purchase_color_red{
    color:red;
}