.rating_notes [data-id="notes"]{width: 620px;
  max-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}

.rating_notes [data-id="name"]{width: 100px;}

.rating_notes [data-id="rate_date"]{width: 100px;}

.rating_notes [data-id="user_id"]{width: 180px;}

.rating_notes [data-id="rating"]{width: 140px;}

 